@media only screen and (max-width: 480px){
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
        flex-direction: column;
}

p.info{
    text-align: center;
}

a{
    padding: 0em;
}

.contenu{
    padding: 1.5em 1em;
}


p.elan{
    padding-top: 0.3em;
}
.avatar img{
    position: relative;
}
.prenom{
    position: absolute;
    background-color: orange;
    color: white;
    width: 100%;
    bottom: 0;
}
}
