*{
    Font-family: 'Exo', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
}
.wrapper{
    width: 100%;
    margin: auto;
}


/* HEADER */
header{
    display: flex;
    background-color: orange;
    color: white;
    padding: 1em;
}
.logo{
    width: 40px;
    height: 40px;
    float: left;
}
.right{
    width: 50%;
}
.left{
    width: 50%;
}
nav{
    display: flex;
    justify-content: flex-end;
}
a{
    color: white;
    padding: 1em;
    top: 0;
    text-decoration: none;
    float: right;
}
a:hover{
    background-color: rgb(246, 148, 0);
}


/* BANNIERE */
.banniere img{
    padding: 0;
    width: 100%;
    height:300px;
    object-fit: cover;
    object-position: 50% 80%;
}

.banniere{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    padding: 0%;
    margin: 0;
}


/* MAIN */
.contenu{
    padding: 1em 5em;
    background-color:rgb(128, 128, 128);  
}

.informations,.equipe,.contact{
    padding: 1em;
    margin-bottom: 0.5em;
    border: 1px solid orange;
    background-color: white;
}

.tableau{
    background-color:rgb(81, 81, 81);
    color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

tr td{
    border: 1px dotted black;
    text-align: center;
    padding: 5px;
}

.equipe{
    flex-flow: row wrap;
}

.bloc_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.avatar{
    display: block;
    width: 100%;
    border: dotted 1px orange;
    
}
.figavatar:hover .overlay{
    bottom: 0%;
    height: 20%;
}

.overlay{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: orange;
    opacity: 90%;
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}

.figavatar{
    position: relative;
    width: auto;
    margin: 0.5em;
}

.prenom{
    position: absolute;
    color: white;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

.formulaire{
    margin: 0;
    padding-top: 1em;
}

.bouton{
    width: 50%;
    padding: 5px;
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.bouton:hover{
    background-color: rgb(246, 148, 0);
}

textarea{
    border-radius: 5px;
    border: 1px solid orange;
    width: 100%;
}

input{
    border-radius: 5px;
    border: 1px solid orange;
    width: 100%;
}


/* FOOTER */
footer{
    background-color:rgb(81, 81, 81);
    color: white;
    text-align: center;
    padding: 5px;
}


/* TEXT */
.txtbanniere{
    position: absolute;
    color: white;
    text-align: center;
}

.txtimg{
    color: white;
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: 100;
}

p.info{
    font-weight: bold;
    padding-bottom: 1em;
}

.pfooter{
    font-size: x-small;
    margin: 0;
}

p.elan{
    padding-left: 3em;
    padding-top: 0.8em;
}

h1{
    font-size: 50px;
    text-shadow: 3px 3px 3px black;
}




